h1{
  text-align: center;
}
.scores {
  justify-content: center;
  align-items: center;
  gap: 18%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.subject {
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.ullist {
  list-style-type: none;
  word-spacing: 10px;
  padding: 0;
}

.ullist :nth-of-type(odd) {
  background-color: #ddd;
}

.add-new{
  position: relative;
}

.table {
  width: 176%;
}